
###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
# /vendor/  <-- Commenté pour envoyer les librairies PHP sur le serveur sans SSH
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
# /public/assets/  <-- Commenté pour pouvoir envoyer les assets compilés sur le serveur
/assets/vendor/
###< symfony/asset-mapper ###
